/* SideNavbar.module.css */
.sidebar {
  width: 85px; /* Set the desired width */
  height: 100%; /* Full viewport height */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed; /* Fix the sidebar in place */
  top: 0; /* Ensure it touches the top of the screen */
  left: 0; /* Ensure it touches the left side of the screen */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 0; /* Remove any padding that pushes the sidebar */
  margin: 0; /* Remove any margin */
  z-index: 500;
}

  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  