/* KonvaMap.module.css */
.konvaMap {
    height: 100%; /* Inherit the full height of the parent */
    width: 100%;  /* Inherit the full width of the parent */
    position: relative; /* Required for internal absolute positioning */
  }
  .tooltip {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 10; /* Ensure it appears above the map */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }