.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px; /* Fixed height for all items */
    padding: 0 10px;
    text-align: center;
    color: #4b444a; /* Grey color for text and icons */
    cursor: pointer;
  }
  
  .itemHover {
    background-color: rgba(var(--primary-color-rgb, 246, 130, 32), 0.2); /* Orange with opacity */
    border-radius: 6px; /* Rounded corners on hover */
    margin: 0 5px; /* Margin to create space */
    transition: background-color 0.8s ease, color 0.8s ease;
  }
  
  .itemActive {
    background-color: rgba(var(--primary-color-rgb, 246, 130, 32)); /* Darker orange for active items */
    color: #fff; /* Solid white for icons and text */
    border-radius: 6px;
    margin: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .label {
    font-size: 0.8rem;
  }
  