.modalOverlay {
  position: fixed;
  inset: 0; /* Shorthand for top, right, bottom, left set to 0 */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  width: 450px;
  max-width: 95%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  font-family: 'Inter', sans-serif;
}

.modal h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3C4A5D;
}

.modalContent {
  margin-bottom: 20px;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Provides space between buttons */
}

.modal button {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.closeButton {
  background: #e0e0e0;
  color: #222;
}

.closeButton:hover {
  background: #d4d4d4;
}

.confirmButton {
  background: #4c4cff;
  color: #ffffff;
}

.confirmButton:hover {
  background: #3b3bff;
}

.iconWrapper {
  background: #f0f0f0;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.iconWrapper img {
  width: 24px;
  height: 24px;
}

