.mapSection {
    height: 85vh;
    width: 80vw;
    border-radius: 8px;
    overflow: hidden; /* Prevent content overflow */
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .mapHeader {
    background-color: #ffffff;
    border-bottom: 1px solid #d1d1d1;
    color: #000;
    padding: 0 1rem;
    border-radius: 8px 8px 0 0;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 1000; /* Ensure the header stays on top */
    position: relative; /* Position relative so it layers properly */
  }
  
  /* Custom select dropdown container */
  .customSelectContainer {
    position: relative;
  }
  
  .customSelect {
    appearance: none; /* Hide default dropdown */
    width: 10rem; /* Fixed width */
    max-width: 10rem; /* Ensure it doesn't grow beyond the container */
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    background-image: none; /* Remove any default arrow */
    
    /* Handle long text with ellipsis */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Checkmark style for selected item */
  .customOption::before {
    content: "✔";
    color: #ffffff;
    margin-right: 10px;
    visibility: hidden; /* Hidden by default */
  }
  
  .customSelect option:checked::before {
    visibility: visible; /* Show checkmark for selected option */
  }
  
  /* Style for the dropdown options */
  .customOption {
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    padding: 0.5rem;
  }
  
  /* Add some padding to the dropdown options */
  .customSelect option {
    padding: 10px;
  }
  
  /* Button container */
  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between the buttons */
  }
  
/* Styling for the Page Entire School button */
.pageButton {
    padding: 0rem 0.5rem; 
    background-color: rgba(var(--primary-color-rgb, 246, 130, 32), 0.8); /* Darker orange for active items */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    line-height: 1;
    height: 38px;
    
}

.pageButton:hover {
  background-color: rgba(var(--primary-color-rgb, 246, 130, 32), 1); /* Darker orange for active items */ /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}
  
  