@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e52121;
  --foreground: #171717;
  --primary-color-rgb: 246, 130, 32;
  --primary-color: #f68220; /* Default hex for primary color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: rgba(var(--primary-color-rgb, 246, 130, 32), 0.06); /* Darker orange for active items */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
