.rightSection {
    height: 85vh;
    width: 450px;
    background-color: #e0e0e0; /* Gray background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* border: 1px solid #ccc; /* Light border */
    display: flex;
    flex-direction: column;
  }
  
.navbar {
    display: flex; /* Makes the navbar items horizontal */
    height: 60px;
    align-items: center;
    padding: 6px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd; /* Add a bottom border to resemble tabs */
    border-radius: 8px 0 0; /* Rounded corners */
    border-bottom: 1px solid #d1d1d1;
  }
  .navbar ul {
    display: flex; /* Ensure ul contents are laid out horizontally */
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;
    
  }
  
  /* Each tab button */
  .navItem {
    display: flex;
    flex-direction: column; /* Makes the icon sit on top of the text */
    align-items: center; /* Center the icon and text */
    
    border: none; /* No button border */
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    outline: none;
  }
  /* Active tab style */
  .active {
    background-color: rgba(var(--primary-color-rgb, 246, 130, 32), 0.4); 
      border-bottom: 3px solid var(--primary-color);; /* Active border color */
    }
  /* Tab hover effect */
  .navItem:hover {
    background-color: rgba(var(--primary-color-rgb, 246, 130, 32), 0.1); 
    border-bottom: 2px solid var(--primary-color); /* Emphasize the active tab on hover */
  }
/* Prevent hover effect on active items */
.active:hover {
  background-color: rgba(var(--primary-color-rgb, 246, 130, 32), 0.4); /* Ensure the active background remains */
  border-bottom: 3px solid var(--primary-color); /* Ensure the active border stays */
}
  
  /* Style for the icons */
  .icon {
    font-size: 24px; /* Size of the icon */
    margin-bottom: 5px; /* Space between the icon and text */
  }
  
  /* Style for the text below the icon */
  .navItem span {
    font-size: 12px; /* Smaller font for the text */
    margin-top: 5px;
    color: #666;
  }