
/* Styling for the map container */
.mapContainer {
  height: 100%; /* Ensure the map takes the full height of its container */
  width: 100%;  /* Ensure the map takes the full width of its container */
  min-height: 500px; /* Add a minimum height to ensure the map is visible */
  position: relative; /* Position relative for internal absolute positioning if needed */
  border-radius: 0 0 8px 8px; /* Rounded corners for a more modern look */
  
  
  overflow: hidden; /* Prevent content from overflowing out of the container */
  background-color: #f9fcfd; /* Optional: Light background color for visual contrast */
}

